* {
    margin: 0;
    /* padding: 0; */
    /* box-sizing: border-box; */
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}


.navbar {
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0.1px;

}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 2px solid transparent;
    padding: 3px;
}

.nav-logo.border:hover {
    border: none;
    cursor: default;
}


.border:hover {
    border: 2px solid white;
    cursor: pointer;
}

/* Box-2 */
.address-first {
    color: #cccccc;
    margin-left: 15px;
    font-size: 14px;
    font-size: 0.8rem;
}

.address-second {
    color: white;
    font-size: 16px;
    font-size: 1rem;
    font-weight: bold;
    /* padding-left: 2px; */
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* Box-3 */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    /* background-color: orange; */
    background-color: #ee9b2e;
    width: 620px;
    height: 40px;
    border-radius: 5px;
}

.search-select option {
    text-align: left;
    cursor: pointer;
}

.search-select {
    background-color: #f3f3f3;
    width: 105px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}



.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.nav-search:hover {
    border: 2px solid #ee9b2e;
}

/* Box-4    */
span {
    font-size: 0.75rem;
    color: #cccccc;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: bold;
}

/* Box-5    */
.nav-cart i {
    font-size: 28px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: bold;
}

/* Panel */
.panel {
    display: flex;
    height: 40px;
    /* background-color: #0f1111; */
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-all {
    cursor: default;
}

.panel-ops p {
    cursor: pointer;
    display: inline;
    margin-left: 15px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

/* Hero Section */

.hero-section {
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-massage {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.95rem;
    width: 80%;
    margin-bottom: 25px;
}


.hero-massage a {
    color: #007185;
    cursor: pointer;
}

.hero-massage a:hover {
    color: rgba(0, 0, 255, 0.6);
}

/* shop-section */
.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}

.box {
    height: 400px;
    width: 23%;
    padding: 20px 0px 15px;
    background-color: white;
    margin-top: 15px;
    border: none;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: #007185;
    cursor: pointer;
}

.box-content p:hover {
    color: rgba(0, 0, 255, 0.6);
}

/* Footer */
footer {
    margin-top: 15px;
}

.foot-panel1 {
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
    font-weight: bold;
    background-color: #37475a;
    cursor: pointer;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    display: flex;
    height: 300px;
    justify-content: space-evenly;
}

ul p {
    font-weight: bold;
    font-size: 1rem;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    cursor: pointer;
}

ul a:hover {
    text-decoration: underline;
}

.foot-panel3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 70px;
}

.foot-panel3 .logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    margin-right: 10rem;
}

.foot-country {
    /* border: 2px solid white; */
    color: white;
    padding: 5px 5px;
    text-decoration: underline;
    font-size: 1.5rem;

}


.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 100px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


.foot-panel4 .pages {
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
}

.pages ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

.pages ul li {
    list-style: none;
    padding-right: 15px;
}

.foot-panel4 .copyright {
    text-align: center;
    font-size: 0.7rem;
    padding-top: 5px;
}

@media (min-width:1156) and (max-width:1160) {
    .hero-massage p {
        font-size: 0.85rem;
    }
}